<app-header></app-header>
<div class="container z-depth-5">
  <div class="row center">
    <h5>ESTUDIANTES</h5>
  </div>
<table class="centered">
  <thead>
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>EMAIL</th>
        <th>TELEFONO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudiante of estudiantes">
      <td>{{estudiante.id}}</td>
      <td>{{estudiante.nombre}}</td>
      <td>{{estudiante.apellidos}}</td>
      <td>{{estudiante.email}}</td>
      <td>{{estudiante.telefono}}</td>
      <td><button id="btnVer" (click)= "verEstudiante(estudiante.id)">Ver</button></td>
      <td><button id="btnBorrar" (click)= "borrarEstudiante(estudiante.id)">Eliminar</button></td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="input-field col s12 center">
    <button class="btn waves-effect waves-light right" type="button" (click) = "volver()">Atrás</button>
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn modal-trigger right" href="#crearEstudiante">Crear</a>
  </div>
</div>
<app-footer></app-footer>
</div>

<!-- Modal Structure -->
<div id="crearEstudiante" class="modal">
  <app-crear-estudiante></app-crear-estudiante>
</div>
