<app-header></app-header>
<div class="container z-depth-5">
  <div class="row center">
    <h5>Crear Materias</h5>
  </div>
<div class="row">
  <form (ngSubmit)="crearMateria()" [formGroup]="crearMaterias" novalidate>
    <div class="row">
        <div class="row">
          <div class="input-field col s6">
            <label class="active" for="nombre">Nombre de la materia</label>
            <input id="nombre" type="text" class="validate" formControlName="nombre">
          </div>
          <div class="input-field col s6">
              <label class="active" for="grupo">Grupo</label>
              <input id="grupo" type="text" class="validate" formControlName="grupo">
          </div>
        </div>
        <div class="row">
        <div class="input-field col s6">
          <label>
              <input name="nivel" type="radio" value="ESO" formControlName="nivel" checked/>
              <span>ESO</span>
          </label>
        </div>
        <div class="input-field col s6">
          <label>
              <input name="nivel" type="radio" formControlName="nivel" value="BACHILLERATO"/>
              <span>BACHILLERATO</span>
          </label>
        </div>
      </div>
        <div class="row">
          <div class="input-field col s12">
              <button id="botonCrear" class="btn waves-effect waves-light right" 
                      type="button" type="submit" 
                      name="action">Enviar
              </button>
          </div>
        </div>
      </div>
  </form>
</div>
<app-footer></app-footer>
</div>