<app-header></app-header>
<div class="container z-depth-5">
  <div class="row">
    <div class="col s12">
      <h5>{{aula.capacidad}}</h5>
    </div>
  </div>
  <div class="row">
    <a class="waves-effect waves-light btn modal-trigger right" href="#modificar">Modificar</a>
  </div>
  <app-footer></app-footer>
</div>

<!--Modal Structure -->
<div id="modificar" class="modal">
  <div class="modal-content">
    <div class="row">
        <form (ngSubmit)="modificarAulas()" [formGroup]="modificarAula" novalidate>
          <div class="row">
              <div class="input-field col s12">
                <label class="active" for="capacidad">Capacidad</label>
                <input id="capacidad" type="text" class="validate" formControlName="capacidad">
              </div>
              <div class="row">
                <div class="input-field col s12">
                    <button id="botonCrear" class="btn waves-effect waves-light right" 
                            type="button" type="submit" 
                            name="action">Enviar
                    </button>
                </div>
              </div>
            </div>
        </form>
      </div>
  </div>
</div>