<app-header></app-header>
<div class="container z-depth-5">
  <div class="row">
    <div class="col s12">
      <h5>Nombre de Aula: {{aula.nombre}}</h5>
      <h5>Código: {{aula.codigo}}</h5>
      <h5>Capacidad: {{aula.capacidad}}</h5>
    </div>
  </div>
  <div class="row">
    <a class="waves-effect waves-light btn modal-trigger right" href="#modificar">Modificar</a>
  </div>
  <div class="row">
  <div class="col s12">
    <table>
      <thead>
        <tr>
            <th>Horarios</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horario of horarios">
          <td>{{horario.horarios}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col s2">
    <p class="calendario">LUNES</p>
    <div *ngFor="let l of lunes">
        <p >{{l}}</p>
    </div>
  </div>
  <div class="col s2">
    <p class="calendario">MARTES</p>
    <div *ngFor="let m of martes">
        <p >{{m}}</p>
    </div>
  </div>
  <div class="col s2">
    <p class="calendario">MIERCOLES</p>
    <div *ngFor="let x of miercoles">
        <p >{{x}}</p>
    </div>
  </div>
  <div class="col s2">
    <p class="calendario">JUEVES</p>
    <div *ngFor="let j of jueves">
        <p >{{j}}</p>
    </div>
  </div>
  <div class="col s2">
    <p class="calendario">VIERNES</p>
    <div *ngFor="let v of viernes">
        <p >{{v}}</p>
    </div>
  </div>
  <div class="col s2">
    <p class="calendario">SABADO</p>
    <div *ngFor="let s of sabado">
        <p >{{s}}</p>
    </div>
  </div>
</div>
  <app-footer></app-footer>
</div>

<!--Modal Structure -->
<div id="modificar" class="modal">
  <div class="modal-content">
    <div class="row">
        <form (ngSubmit)="modificarAulas()" [formGroup]="modificarAula" novalidate>
          <div class="row">
              <div class="row">
                  <div class="input-field col s6">
                    <label class="active" for="nombre">Nombre</label>
                    <input id="nombre" type="text" class="validate" formControlName="nombre">
                  </div>
                  <div class="input-field col s6">
                      <label class="active" for="codigo">Código</label>
                      <input id="codigo" type="text" class="validate" formControlName="codigo">
                  </div>
                  <div class="input-field col s6">
                    <label class="active" for="capacidad">Capacidad</label>
                    <input id="capacidad" type="text" class="validate" formControlName="capacidad">
                  </div>
                </div>
              <div class="row">
                <div class="input-field col s12">
                    <button id="botonCrear" class="btn waves-effect waves-light right" 
                            type="button" type="submit" 
                            name="action">Enviar
                    </button>
                </div>
              </div>
            </div>
        </form>
      </div>
  </div>
</div>