<div class="row">
  <form (ngSubmit)="crearAulas()" [formGroup]="crearaulas" novalidate>
    <div class="row">
      <div class="row">
        <div class="input-field col s6">
          <label class="active" for="nombre">Nombre</label>
          <input id="nombre" type="text" class="validate" formControlName="nombre">
        </div>
        <div class="input-field col s6">
            <label class="active" for="codigo">Código</label>
            <input id="codigo" type="text" class="validate" formControlName="codigo">
        </div>
        <div class="input-field col s6">
          <label class="active" for="capacidad">Capacidad</label>
          <input id="capacidad" type="text" class="validate" formControlName="capacidad">
        </div>
      </div>
        <div class="row">
          <div class="input-field col s12">
              <button id="botonCrear" class="btn waves-effect waves-light right" 
                      type="button" type="submit" 
                      name="action">Enviar
              </button>
          </div>
        </div>
      </div>
  </form>
</div>